<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden border-2">
        <div class="p-4 px-4 flex items-center justify-between text-xl">
          <span>Table Heading</span>
          <input
            class="border-2 h-10 pl-3 rounded-md focus:outline-2 text-sm focus:outline-blue-500"
            type="text"
            #searchInput
            placeholder="Search ..."
            (input)="setSearch()"
            [(ngModel)]="inputText"
          />
        </div>

        <div class="overflow-auto px-4 py-0">
          <table class="w-full">
            <thead class="bg-gray-50 border-b-2 border-gray-200">
              <tr>
                <th
                  *ngFor="let head of header"
                  scope="col"
                  class="p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap overflow-hidden"

                >
                  <span class="pr-1 w-10 overflow-ellipsis overflow-hidden">
                    {{ head.name }}</span
                  >
                  <span
                    *ngIf="head.isSort"
                    class="text-gray-500 mt-1 pl-0.5"
                    (click)="toggleSort(head.row)"
                    ><ng-icon name="bootstrapCaretDownFill"></ng-icon
                  ></span>
                  <span class="w-2 bg-gray-600 h-[1px] px-[1px]"></span>
                  <span
                    class="p-1 text-[12px] mt-1 text-gray-900 font-bold"
                    ><ng-icon
                      name="bootstrapSearch"
                      (click)="setSearchValue(head.row)"
                    ></ng-icon
                  ></span>
                </th>
              </tr>
            </thead>
            <tbody
              class="divide-y divide-gray-100 border-b-2 border-gray-200 shadow"
            >
              <tr *ngFor="let item of displayedData" class="bg-white">
                <!-- ... your row cells ... -->
                <td
                  *ngFor="let data of header"
                  class="p-3 text-sm text-gray-700 "
                >
                <span class="w-10 whitespace-nowrap overflow-ellipsis overflow-hidden">{{ item[data.row] }}</span>

                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="flex h-4 items-center p-8 space-x-2 justify-end">
          <div
            class="w-full h-full bg-blue-600 flex items-center justify-between"
          >
            <div class="flex items-center">
              <div class="w-32 absolute flex items-center gap-3">
                <span>rows: </span>
                <app-select
                  [data]="selectData"
                  [defaultValue]="defaultValue"
                  [isClear]="isClear"
                  [isReadOnly]="isReadOnly"
                  [setValue]="setValue"
                />
              </div>
            </div>
            <div class="flex items-center bg-white px-2 rounded-md">
              <button
                class="inline-flex items-center text-sm font-medium bg-transparent outline-none border-none cursor-pointer"
                (click)="backBtn()"
                [disabled]="currentPage === 1"
              >
                prev
              </button>
              <ul class="my-0 mx-4">
                <li
                  *ngFor="let pageNumber of pageNumbers"
                  class="link inline-block mx-1 w-6 h-6 rounded-full text-center text-sm cursor-pointer font-medium pt-[1px]"
                  [class.active]="currentPage === pageNumber"
                  (click)="goToPage(pageNumber)"
                >
                  {{ pageNumber }}
                </li>
              </ul>
              <button
                class="inline-flex items-center text-sm font-medium bg-transparent outline-none border-none cursor-pointer"
                (click)="nextBtn()"
                [disabled]="currentPage === data.length"
              >
                next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
