<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden border-2">
        <div class="p-4 flex items-center justify-between">
          <span>Heading</span>
          <input
            class="border-2 h-10 pl-3 rounded-md focus:outline-0"
            type="text"
            placeholder="Search ..."
          />
        </div>
        <!-- <div>
          <table class="min-w-full text-left text-sm font-light border-2">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">
                  #<span class="text-gray-500"
                    ><ng-icon name="bootstrapCaretDownFill"></ng-icon
                  ></span>
                </th>
                <th scope="col" class="px-6 py-4">
                  First<span class="text-gray-500"
                    ><ng-icon name="bootstrapCaretDownFill"></ng-icon
                  ></span>
                </th>
                <th scope="col" class="px-6 py-4">
                  Last<span class="text-gray-500"
                    ><ng-icon name="bootstrapCaretDownFill"></ng-icon
                  ></span>
                </th>
                <th scope="col" class="px-6 py-4">
                  Handle<span class="text-gray-500"
                    ><ng-icon name="bootstrapCaretDownFill"></ng-icon
                  ></span>
                </th>
                <th scope="col" class="px-6 py-4">
                  Handle<span class="text-gray-500"
                    ><ng-icon name="bootstrapCaretDownFill"></ng-icon
                  ></span>
                </th>
                <th scope="col" class="px-6 py-4 flex items-center">
                  Handle<span class="text-gray-500 mt-2"
                    ><ng-icon name="bootstrapCaretDownFill"></ng-icon
                  ></span>
                </th>
                <th scope="col" class="px-6 py-4">
                  Handle<span class="text-gray-500"
                    ><ng-icon name="bootstrapCaretDownFill"></ng-icon
                  ></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="dark:border-neutral-500">
                <td class="whitespace-nowrap px-6 py-4 font-medium">1</td>
                <td class="whitespace-nowrap px-6 py-4">Mark</td>
                <td class="whitespace-nowrap px-6 py-4">Otto</td>
                <td class="whitespace-nowrap px-6 py-4">@mdo</td>
                <td class="whitespace-nowrap px-6 py-4">@mdo</td>
                <td class="whitespace-nowrap px-6 py-4">@mdo</td>
                <td class="whitespace-nowrap px-6 py-4">@mdo</td>
              </tr>
              <tr class="dark:border-neutral-500">
                <td class="whitespace-nowrap px-6 py-4 font-medium">2</td>
                <td class="whitespace-nowrap px-6 py-4">Jacob</td>
                <td class="whitespace-nowrap px-6 py-4">Thornton</td>
                <td class="whitespace-nowrap px-6 py-4">@fat</td>
                <td class="whitespace-nowrap px-6 py-4">@fat</td>
                <td class="whitespace-nowrap px-6 py-4">@fat</td>
                <td class="whitespace-nowrap px-6 py-4">@fat</td>
              </tr>
              <tr class="dark:border-neutral-500">
                <td class="whitespace-nowrap px-6 py-4 font-medium">3</td>
                <td class="whitespace-nowrap px-6 py-4">Larry</td>
                <td class="whitespace-nowrap px-6 py-4">Wild</td>
                <td class="whitespace-nowrap px-6 py-4">@twitter</td>
                <td class="whitespace-nowrap px-6 py-4">@twitter</td>
                <td class="whitespace-nowrap px-6 py-4">@twitter</td>
                <td class="whitespace-nowrap px-6 py-4">@twitter</td>
              </tr>
            </tbody>
          </table>
        </div> -->

        <div class="overflow-auto px-4 py-0">
          <table class="w-full">
            <thead class="bg-gray-50 border-b-2 border-gray-200">
              <tr>
                <!-- <th
                  scope="col"
                  class="p-3 text-sm font-semibold tracking-wide text-left items-center"
                >
                  Handle<span class="text-gray-500 mt-1 pl-0.5"
                    ><ng-icon name="bootstrapCaretDownFill"></ng-icon
                  ></span>
                </th> -->
                <th
                  scope="col"
                  class="p-3 text-sm font-semibold tracking-wide text-left"
                >
                  ID<span
                    class="text-gray-500 mt-1 pl-0.5"
                    (click)="toggleSort()"
                    ><ng-icon name="bootstrapCaretDownFill"></ng-icon
                  ></span>
                </th>
                <th
                  scope="col"
                  class="p-3 text-sm font-semibold tracking-wide text-left"
                >
                  ID<span
                    class="text-gray-500 mt-1 pl-0.5"
                    (click)="toggleSort()"
                    ><ng-icon name="bootstrapCaretDownFill"></ng-icon
                  ></span>
                </th>
                <th
                  scope="col"
                  class="p-3 text-sm font-semibold tracking-wide text-left"
                >
                  ID<span
                    class="text-gray-500 mt-1 pl-0.5"
                    (click)="toggleSort()"
                    ><ng-icon name="bootstrapCaretDownFill"></ng-icon
                  ></span>
                </th>
                <th
                  scope="col"
                  class="p-3 text-sm font-semibold tracking-wide text-left"
                >
                  ID<span
                    class="text-gray-500 mt-1 pl-0.5"
                    (click)="toggleSort()"
                    ><ng-icon name="bootstrapCaretDownFill"></ng-icon
                  ></span>
                </th>
                <th
                  scope="col"
                  class="p-3 text-sm font-semibold tracking-wide text-left"
                >
                  ID<span
                    class="text-gray-500 mt-1 pl-0.5"
                    (click)="toggleSort()"
                    ><ng-icon name="bootstrapCaretDownFill"></ng-icon
                  ></span>
                </th>
              </tr>
            </thead>
            <tbody
              class="divide-y divide-gray-100 border-b-2 border-gray-200 shadow"
            >
              <tr *ngFor="let item of displayedData" class="bg-white">
                <!-- ... your row cells ... -->
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                  {{ item.id }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="flex h-4 items-center p-8 space-x-2 justify-end">
          <div class="w-full h-full bg-blue-600 flex items-center justify-end">
            <div class="flex items-center space-x-2">
              <span>rows: </span>
              <div class="w-20">
                <app-select [data]="selectData" [defaultValue]="defaultValue" [isClear]="isClear" [isReadOnly]="isReadOnly" [setValue]="setValue" />
              </div>
            </div>
            <div class="flex items-center bg-white px-2 rounded-md">
              <button
                class="inline-flex items-center text-sm font-medium bg-transparent outline-none border-none cursor-pointer"
                (click)="backBtn()"
                [disabled]="currentPage === 1"
              >
                prev
              </button>
              <ul class="my-0 mx-4">
                <li
                  *ngFor="let pageNumber of pageNumbers"
                  class="link inline-block mx-1 w-6 h-6 rounded-full text-center text-sm cursor-pointer font-medium pt-[1px]"
                  [class.active]="currentPage === pageNumber"
                  (click)="goToPage(pageNumber)"
                >
                  {{ pageNumber }}
                </li>
              </ul>
              <button
                class="inline-flex items-center text-sm font-medium bg-transparent outline-none border-none cursor-pointer"
                (click)="nextBtn()"
                [disabled]="currentPage === data.length"
              >
                next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
