<div #containerDiv class="w-full relative" [class]="className">
  <div class="my-1" *ngIf="labelText">
    <label class="text-base font-medium"
      >{{ labelText
      }}<span *ngIf="!mandatory" class="text-black">(Optional)</span></label
    >
  </div>
  <div class="w-full flex items-center relative" (click)="show()">
    <input
      type="text"
      placeholder="Search ...."
      class="focus:outline-0 px-2 rounded-md border-2 w-full pr-10 h-10 whitespace-nowrap overflow-ellipsis overflow-hidden"
      [class.cursor-pointer]="isReadOnly"
      [(ngModel)]="inputValue"
      [readonly]="isReadOnly"
      (input)="setSearch()"
      [class]="height"
      [disabled]="isDisabled"
    />
    <div
      *ngIf="isDropDown; else beforeFocus"
      class="absolute right-2 cursor-pointer mt-1.5"
      [class.hidden]="!searchVisible"
    >
      <span
        *ngIf="isClear; else dropUp"
        class="text-[22px] font-bold text-gray-500"
        (click)="clearValue()"
        ><ng-icon name="bootstrapX"></ng-icon
      ></span>
      <ng-template #dropUp>
        <span class="text-gray-500"
          ><ng-icon name="bootstrapCaretUpFill"></ng-icon
        ></span>
      </ng-template>
    </div>
    <ng-template #beforeFocus>
      <div class="absolute right-2 mt-1.5">
        <span class="text-gray-500"
          ><ng-icon name="bootstrapCaretDownFill"></ng-icon
        ></span>
      </div>
    </ng-template>
  </div>

  <div
    class="w-full overflow-y-auto bg-white max-h-60 z-10 absolute mt-1 transition ease-in-out"
    [class]="searchVisible ? 'border-2 rounded-md' : 'border-0'"
  >
    <div class="search" [class.hidden]="!searchVisible" #targetDiv>
      <div class="overflow-y-auto">
        <ul id="list" class="list-none my-3">
          <li
            *ngFor="let item of data"
            (click)="setData(item)"
            [class.whitespace-nowrap]="optionLineBreack"
            class="py-1 px-2 text-black hover:text-white hover:bg-blue-500 cursor-pointer rounded-sm overflow-ellipsis overflow-hidden"
            [class]="item.label === inputValue ? 'bg-blue-500 text-white' : ''"
            [style.display]="
              item.label?.toUpperCase().includes(inputText.toUpperCase())
                ? 'block'
                : 'none'
            "
          >
            {{ item.label }}
          </li>
          <li class="px-2" [class.hidden]="hasFilteredItems()">No Data</li>
        </ul>
      </div>
    </div>
  </div>
</div>
